@import "bootstrap/scss/functions"; 
@import "./Variables.scss";

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";

@import "./Responsive"; // Responsive Styles Here
@import "./Steez"; // Custom Styles Here

@import "./HexGrid";

.honeycombs{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.service-card-container {
	margin-bottom: 50px;
}

.service-card {
	margin-bottom: 10px;
}

.service-card .card {
	color: black;
}

.service-card .card-title {
	padding: .75rem .25rem;
	margin-bottom: 0;
	font-size: 1.2em;
	border-bottom: 1px solid;
	background-color: #fff;
	border-color: #d8dbe0;
	text-align: center;
}

.service-card .card-text {
	padding: .75rem .25rem;
	margin-bottom: 0;
	font-size: 1em;
}

.service-card .card-footer {
	text-align: right;
	font-weight: bold;
	font-size: .9em;
}